
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&family=Oswald:wght@200;700&family=Poppins:ital,wght@0,300;0,400;0,900;1,800&display=swap');


*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a {
  color: inherit;
  text-decoration: none;
}
ul li {
  list-style: none;
}
body {
  font-family: 'Poppins', sans-serif;
}


.header-inner {
  max-width: 1200px;
  height: 110px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 40px;
  padding-right: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.header-inner a {
  color: white;
  font-weight: bold;
  text-transform: uppercase;
}

.site-menu ul {
  display: flex;
}
.site-menu ul li {
  margin-left: 20px;
  margin-right: 20px;
  position: relative;
}

.site-menu ul li::after {
  content: '';
  position: absolute;
  width: 95%;
  height: 0.175rem;
  left: 0;
  bottom: 0;
  background: #2ecc71;
  transform: scale(0, 1);
  transform-origin: 0% 100%;
  transition: transform 0.3s ease;
}
.site-menu ul li:hover::after {
  transform: scale(1, 1);
}



.top-view {
  height: calc(100vh - 400px);
  width: 100%;
  background-image: url(../images/b425253e016493754fb46101586d105e.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  margin-top: -110px;
}


.top-view-text {
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 40px;
  padding-bottom: 80px;
  font-weight: bold;
  text-align: center;
  color: white;
}

/*headerはここまで--------------------------------*/

.title {
  margin-top: 100px;
  color: black;
  text-align: center;
}

.title h1 {
  font-size: 32px;
  line-height: 20px;
}

.title h2 {
  font-size: 16px;
}

.box {
  display: flex;
  justify-content: center;
}

form {
  margin-top: 50px;
}

.form-control {
  width: 600px;
  background: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid gray;
  color: black;
  font-size: 18px;
  margin-bottom: 16px;
}

input {
  height: 45px;
}

form .submit {
  background-color: #2ecc71;
  border-color: transparent;
  color: #fff;
  font-size: 20px;
  letter-spacing: 2px;
  height: 50px;
  margin-top: 20px;
  transition: 0.4s ease;
}

form .submit:hover {
  background-color: #1b8b4a;
  cursor: pointer;
}











/*----------headeはここまで---------------------------------------*/

footer {
  width: 100%;
  height: 400px;
  margin-top: 100px;
  background-color: #101010;
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer p:nth-child(1) {
  font-size: 36px;
  color: white;
  margin-bottom: 20px;
  font-weight: bold;
  margin-top: 50px;
}

footer p:nth-child(2) {
  color: white;
  font-size: 17px;
  width: 500px;
  text-align: center;
}

.social a{
  width: 45px;
  height: 45px;
  background-color: #2ecc71;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 22px 10px;
  color: white;
  transition: all 0.3s;
}

.social {
  display: flex;
}

.social a:hover {
  transform: scale(1.3);
}

.end {
  color: white;
  font-size: 16px;
  margin-top: 100px;
}



