@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&family=Oswald:wght@200;700&family=Poppins:ital,wght@0,300;0,400;0,900;1,800&family=Public+Sans:wght@300;400&family=Ubuntu&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --darkblue: hsl(233, 26%, 24%);
  --limegreen: hsl(136, 65%, 51%);
  --brightcyan: hsl(192, 70%, 51%);
  --grayishblue: hsl(233, 8%, 62%);
  --lighgrayishBlue: hsl(220, 16%, 96%);
  --verylightgray: hsl(0, 0%, 98%);
  --white: hsl(0, 0%, 100%);
}


body {
  position: relative;
  overflow-x: hidden;
  width: 100vw;
  font-family: 'Public Sans', sans-serif;;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

header {
  background-color: var(--white);
  padding: 5px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  z-index: 2;
  width: 100vw;
}

.navigation li{
  display: inline-block;
}

.navigation li a {
  position: relative;
  margin-left: 20px;
  color: var(--grayishblue);
}

.navigation li a::after {
  content: '';
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  bottom: -35px;
  width: 0;
  height: 4px;
  background: var(--grayishblue);
  transition: all .5s;
}

.navigation li a:hover::after {
  width: 100%;
}

.dropdown-toggle {
  display: none;
  outline: none;
  border: none;
  background: transparent;
  cursor: pointer;
}

span,p {
  color: var(--grayishblue);
}

.details {
  background-color: var(--verylightgray);
  display: grid;
  grid-template-columns: 40% 60%;
  height: 90vh;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.brief_details {
  display: flex;
  flex-direction: column;
  width: 70%;
  transform: translate(40%, -40%);
  transform: translate(100px, 10px);
}

.request_inite_btn {
  display: grid;
  border: none;
  outline: none;
  all: unset;
  width: 7em;
  background: linear-gradient(to right, hsl(136, 65%, 31%), hsl(192, 70%, 51%));
  color: var(--white);
  margin: 20px 0;
  padding: 10px 40px;
  border-radius: 40px;
  cursor: pointer;
}

.brief_details h1 {
  font-size: 40px;
}

.mockup {
  background: url(./images/bg-intro-desktop.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: 50px;
  background-position-y: -80px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.mockup-img {
  width: 80%;
  transform: translate(140px, -50px);
}

.reason {
  background-color: var(--lighgrayishBlue);
  padding: 100px 50px;
}

.benefit {
  position: relative;
  padding-bottom: 20px;
  width: 45vw;
}

.benefit h1 {
  font-size: 40px;
  margin: 20px 0;
}

.benefit p {
  color: var(--grayishblue);
}

.reason .why_list {
  display: flex;
  justify-content: space-between;
  gap: 1.5em;
}

.why_list > div img {
  padding: 10px 0;
}

.why_list > div h2 {
  padding: 15px 0;
}

.latest-articles {
  padding: 100px 50px;
  background: var(--verylightgray);
}

.latest-articles h1 {
  font-size: 35px;
  margin-bottom: 30px;
}

.articles {
  display: flex;
  justify-content: space-between;
  gap: 1em;
}

.articles .articles_card {
  background: var(--white);
  border-radius: 10px;
  overflow: hidden;
}

.article_thumbnail {
  width: 100%;
  width: 200px;
  padding-bottom: 15px;
}

.articles_card .posteaBy {
  margin: 10px 0;
}

.articles_card .articles_title {
  font-size: 20px;
  padding: 10px 0;
}

.card_body {
  padding: 20px;
}

footer {
  background-color: hsl(233, 26%, 24%);
  display: flex;
  justify-content: space-between;
  padding: 10px 50px;
}

.ft-one {
  display: flex;
  justify-content: space-between;
  flex-basis: 50%;
}

footer ul {
  list-style: none;
  color: white;
}

.social_link {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

.social_link .logo-img {
  color: #fff;
  padding-bottom: 20px;
}

.social_link_list li {
  display: inline-block;
  margin-right: 10px;
}

.ft-nav li a, .ft-nav li a {
  color: var(--lighgrayishBlue);
  font-size: 20px;
}

.ft-two {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color:  hsl(228, 45%, 44%);
}

@media screen and (max-width:765px) {
  header {
    padding: 30px 40px;
  }

  .navigation {
    position: absolute;
    top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: var(--white);
    width: 80%;
    padding: 40px;
    border-radius: 10px;
    text-align: center;
    opacity: 0; 
    transition: all .5s ease ease;
  }

  header .navigation li {
    margin: 20px 0;
  }

  header .navigation li a {
    color: var(--darkblue);
    font-weight: 900;
    font-size: 20px;
  }

  .navigation li a {
    margin: 0;
  }

  .navigation li a::after {
    bottom: -20px;
  }

  header .request_inite_btn {
    display: none;
  }

  .active {
    opacity: 1;
  }

  .dropdown-toggle {
    display: block;
  }

  .details {
    all: unset;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    background: hsl(220, 16%, 96%);
  }

  .brief_details {
    transform: translate(0);
    padding: 0 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .brief_details h1  {
    width: 95%;
  }

  .brief_details span {
    font-size: 20px;
  }

  .mockup {
    background-size: 100%;
    background-position-x: 120px;
    background-position-y: 30px;
  }

  .mockup-img {
    width: 100%;
    transform: translate(0, -90px);
  }

  .reason {
    padding: 40px;
    width: 100%;
  }

  .reason .why_list {
    flex-direction: column;
  }

  .reason div {
    width: 91%;
    margin: auto;
    text-align: center;
  }
  .latest-articles {
    flex-direction: column;
  }

  .articles {
    flex-direction: column;
  }

  .articles .articles_card {
    width: 100%;
  }

  .article_thumbnail {
    height: 200px;
    width: 300px;
  }

  .card_body {
    padding: 10px 20px 40px 20px;
  }

  footer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
  }

  .ft-one {
    flex-direction: column;
  }

  .ft-nav-1, .ft-nav-2 {
    text-align: center;
    padding-top: 20px;
  }

  .ft-nav-1 li, .ft-nav-2 {
    margin-top: 20px 0;
  }

  .ft-nav-2 {
    margin-top: -20px;
  }


}