@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&family=Oswald:wght@200;700&family=Poppins:ital,wght@0,300;0,400;0,900;1,800&family=Ubuntu&display=swap');


*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}


body {
  line-height: 1.9;
  font-family: 'Ubuntu', sans-serif;
  display: flex;
  flex-direction: column;
  padding-top: 110px;
}

.head {
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 110px;
  padding: 0 50px;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  background-color: #1a1a1a;
  color: white;
  position:fixed;
  left: 0;
  top: 0;
  width: 100%;
}


.head_nav ul {
  display: flex;
  align-items: center;
}

.head_nav ul li {
  margin: 0 10px;
  position: relative;
}

.head_nav  li::after {
  content: '';
  position: absolute;
  width: 95%;
  height: 0.175rem;
  left: 0;
  bottom: 0;
  background: #2ecc71;
  transform: scale(0, 1);
  transform-origin: 0% 100%;
  transition: transform 0.3s ease;
}

.head_nav  li:hover::after {
  transform: scale(1, 1);
}
/*--------./head---------------------------*/

header {
  z-index: 100;
  /*
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 40px;
  box-sizing: border-box;
  */
}


.header_inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 110px;
  padding: 0 50px;
  z-index: 100;
}

.nav {
  display: flex;
  align-items: center;
}

.nav li {
  margin: 0 10px;
  text-transform: uppercase;
  font-weight: 600;
}

.nav li::after {
  content: '';
  display: block;
  width: 100%;
  height: 0.175rem;
  left: 0;
  bottom: 0;
  background: #1a69fd;
}

.nav li::after {
  transform: scale(0, 1);
  transition: transform 0.3s ease;
}

.nav li:hover::after {
  transform: scale(1, 1);
}

.nav li:nth-child(5) {
  border: 2px solid #1a69fd;
  border-radius: 30px;
  padding: 5px 15px;
  background-color: #1a69fd;
  color: white;
  transition: 0.5s ease;
}

.nav li:nth-child(5):hover {
  color: #1a69fd;
  background-color: transparent;
}

.nav li:nth-child(5)::after {
  display: none;
}

/*--------------./header------------------------------*/

.top_wrapper_wrap {
  height: calc(100vh - 110px);
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: -110px;
  background-color: #dbe0e9;
}

.top_wrapper {
  position: relative;
  width: 100vw;
  display: block;
  align-self: center;
  max-width: 1366px;
  z-index: 1;
  display: flex;
  align-items: center;
}

.top_wrapper_textarea {
  padding-left: 13rem;
}

.top_wrapper_title {
  font-size: 70px;
  padding-bottom: 80px;
}

.top_wrapper_text {
  font-weight: 600;
}

.top_wrapper_btn {
  margin-top: 10px;
  border: 2px solid #1a69fd;
  border-radius: 30px;
  text-align: center;
  display: inline-flex;
  padding: 3px 20px;
  font-size: 20px;
  font-weight: 600; 
  background-color: #1a69fd;
  color: white;
  transition: 0.5s ease;
}

.top_wrapper_btn:hover {
  background-color: transparent;
  color: #1a69fd;
}

/*--------------./top_wrapper-------------------------------------------*/
main {
  margin-top: 200px;
}
.sec01 {
  width: 100%;
}

.sec01_inner {
  width: 100%;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  /* display: flex; */
}

.sec01_title {
  font-size: 30px;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.sec01_title h2::after {
  content: "";
  display: block;
  width: 100%;
  height: 0.175em;
  background-color: #1a69fd;
}

.sec01_content {
  margin-top: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
}

.sec01_card {
  text-align: center;
  min-width: 120px;
}

.icon {
  font-size: 100px;
  font-weight: 400;
  color: #1a69fd;
}

.sec01_card h2 {
  font-weight: 600;
  font-size: 20px;
  text-transform: uppercase;
  padding-bottom: 15px;
}

.card_text {
  font-weight: 500;
  font-size: 15px;
}

.card_btn {
  border: 2px solid transparent;
  border-radius: 30px;
  background-color: #1a69fd;
  color: white;
  font-weight: bold;
}
.card_btn i{
  padding-left: 10px;
}
@media screen and (max-width:895px) {
  .sec01_content {
    display: flex;
    flex-direction: column;
  }  
}
/*---------------./sec01------------------------------------*/



.sec02 {
  margin-top: 200px;
  width: 100%;
  background-color: #dbe0e9;
  min-height: 80vh;
}

.sec02_inner {
  width: 100%;
  max-width: 1400px;
  height: 80vh;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sec02_textarea {
  padding-top: 100px;
  width: fit-content;
}

.sec02_title {
  letter-spacing: 1px;
  text-transform: capitalize;
  padding-bottom: 20px;
  font-size: 50px;
  font-weight: 600;
}

.sec02_text {
  width: 800px;
  height: 400px;
  background-color: #444649;
  border-radius: 20px;
  font-size: 50px;
  text-align: center;
  color: white;
}

.sec02_img {
  width: 400px;
  height: 600px;
  background-color: #444649;
}

.sec02_img h1 {
  color: white;
  font-size: 50px;
  text-align: center;
}

/*--------./sec03---------------------------------*/

.sec03 {
  margin-top: 200px;
  width: 100%;
}

.sec03_inner {
  width: 100%;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
}

.sec03_title {
  display: flex;
  justify-content: left;
  font-size: 40px;
}

.sec03_title h2::after {
  content: "";
  display: block;
  width: 100%;
  height: 0.115em;
  background-color: #1a69fd;
}
.sec03_box {
  padding-top: 50px;
  display: flex;
  flex-wrap: wrap;
  margin: -10px;
  gap: 20px;
  row-gap: 20px;
}

.sec03_box>* {
  flex: 1 1 160px;
  margin: 10px;
}

.sec03_content {
  min-width: 600px;
}

.sec03_img {
  min-width: 400px;
  min-height: 300px;

  background-color: #dbe0e9;
}

.sec03_textarea h2 {
  font-size: 30px;
}

@media screen and (max-width:895px) {
  .sec02 {
    height: 150vh;
  }
  .sec02_inner {
    display: flex;
    flex-direction: column;
  }
  .sec02_textarea {
    height: min-content;
    padding-bottom: 100px;
  }
  .sec02_img  {
    min-height: 600px;
  }
}
/*-----------------------------------------------------*/


.sec04 {
  margin-top: 50px;
  width: 100%;
  min-height: 30vh;
  background-color: #dbe0e9;
}

.sec04_inner {
  width: 100%;
  display: flex;
  justify-content: center;
}

.sec04_textarea {
  padding-top: 20px;
  display: grid;
}

.sec04_textarea {}

.sec04_title {
  font-size: 28px;
  text-align: center;
}

.sec04_text {
  height: 100px;
  width: 500px;
  font-size: 30px;
  font-weight: 500;
  background-color: #444649;
  color: white;
}

.sec04_btn {
  display: inline-flex;
  margin-top: 40px;
  padding: 5px 20px;
  font-weight: 600;
  border: 2px solid transparent;
  border-radius: 30px;
  width: fit-content;
  color: white;
  background-color: #1a69fd;
  transition: 0.4s ease;
}

.sec04_btn:hover {
  background-color: transparent;
  color: #1a69fd;
  border: 2px solid #1a69fd;
}
/*--------------./sec04-----------------------------------*/



footer {
  min-height: 50vh;
  background-color: #1a1a1a;
}

.footer_inner {
  padding-top: 50px;
}

.company {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.company_name {
  font-size: 40px;
  padding-bottom: 20px;
}

.tel {
  font-size: 20px;
  font-weight: 600;
}

.mail {
  font-weight: 600;
}

.social_icon {
  display: flex;
  align-content: center;
  color: white;
  padding-top: 20px;
  font-size: 30px;
  gap: 20px;
}


.social a{
  width: 45px;
  height: 45px;
  background-color: #1a69fd;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 22px 10px;
  color: white;
  transition: all 0.3s;
  font-size: 20px;
}

.social {
  display: flex;
  justify-content: center;
}

.social a:hover {
  transform: scale(1.3);
}


.copyright {
  display: flex;
  justify-content: center;
  color: white;
  font-size: 16px;
}
